<div ng-repeat="x in list">
    <div class="row">
        <div class="col-lg-1">
            <input type="checkbox" name="check" ng-model="x.isStriked"></input>
        </div>
        <div class="col-lg-8 name">
            <input type="text" name="name" class="done-{{x.isStriked}}" value="{{x.taskName}}" ng-disabled="x.isDisabled" ng-blur="blur(x)"></input>
        </div>
        <button class="btn edit col-lg-1">
            <span class="far fa-edit edit1" ng-click="edit(x)"></span>
        </button>
        <div class="col-lg-1" ng-click="close(x)">
            <button class="btn close">
                <span class="material-icons close1">close</span>
            </button>
        </div>
    </div>
</div>