*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.close{
    margin-top: 7px;
    font-size: 17px;
}
.edit{
    font-size: 14px;
}
.header{
    font-size: 21px;
}
.name{
    width:inherit;
}
.done-true{
    text-decoration: line-through;
}
.done-false{
    text-decoration: none;
}
