<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/app/components/shared/config/url.js"></script>
    <script src="/static/scripts/app/app.js"></script>
    <script src="/static/scripts/app/components/rowItem/js/directives/rowDirective.js"></script>
    <script src="/static/scripts/app/components/rowItem/js/controllers/rowCtrl.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"></script>
</head>

<body ng-app="myApp" >
    <div class="container border col-lg-4" ng-controller="rowCtrl">
        <div class="header text-center mt-2">
            To Do List
        </div>
        <div class="main mt-2 mb-1">
            <div class="row add-section mb-4">
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Add item" ng-model="taskName"></input>
                </div>
                <div class="col-lg-2">
                    <button class="btn border" ng-click="addTask()">Add</button>
                </div>
            </div>

            <row-directive></row-directive>

        </div>
    </div>
</body>

</html>